body {
    background-color: #dedede;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #202020;
    font-size: 2.5em;
    font-family: 'Kalnia', serif;
    margin: 0 0 0.2em 0;
}

h2 {
    color: white;
    font-size: 2em;
    font-family: 'PT Serif', serif;
    margin-bottom: 5px;
}

.header ul {
    display: block;
}

.header li {
    display: inline;
    margin-right: 40px;
}

.header li a {
    text-decoration: none;
    color: #660066;
    font-family: 'Rubik';
    font-weight: 600;
}

.header li a:hover {
    color: #9900ff;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: #dedede;
    box-shadow: 0px 2px 5px #202020;
}

.leftTitle {
    grid-area: leftTitle;
}

#aboutme {
    max-width:100%;
}

.bio {
    grid-area: bio;
    color: white;
    font-family: 'Rubik';
    text-align: justify;
    margin-bottom: 20px;
}

.button1 {
    grid-area: button1;
    background-color: #CDF9C0;
    margin: 5px;
    padding: 10%;
    border-radius: 15px;
    text-align: center;
    font-size: 2em;
    font-family: "Rubik Marker Hatch", system-ui;
}

.button2 {
    grid-area: button2;
    background-color: #C0F9ED;
    margin: 5px;
    padding: 10%;
    border-radius: 15px;
    text-align: center;
    font-size: 2em;
    font-family: "Rubik Marker Hatch", system-ui;
}

.button3 {
    grid-area: button3;
    background-color: #C0CDF9;
    margin: 5px;
    padding: 10%;
    border-radius: 15px;
    text-align: center;
    font-size: 2em;
    font-family: "Rubik Marker Hatch", system-ui;
}

.button4 {
    grid-area: button4;
    background-color: #D0C0F9;
    margin: 5px;
    padding: 10%;
    border-radius: 15px;
    text-align: center;
    font-size: 2em;
    font-family: "Changa One", sans-serif;
    font-family: "Rubik Marker Hatch", system-ui;
}

.images {
    grid-area: images;
}

.footer {
    grid-area: footer;
}

.container {
    background-color:#202020;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 4%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "leftTitle leftTitle"
        "bio bio"
        "button1 button2"
        "button3 button4"
        "images images"
        "footer footer"
}


@media only screen and (min-width: 1420px) {
    .container {
        max-width: 70%;
        margin: auto;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 20% 60%;
        grid-template-rows: auto auto auto auto auto 10%;
        grid-template-areas: 
            "header header header"
            "leftTitle leftTitle images"
            "bio bio images"
            "button1 button2 images"
            "button3 button4 images"
            "footer footer footer"
    }

    .button1,
    .button2,
    .button3,
    .button4 {
        font-size: 1.4em;
    }
}